[submodule "vllm"]
	path = vllm
	url = https://github.com/HyperPotatoNeo/vllm.git
	branch = compaction
[submodule "prime-rl"]
	path = prime-rl
	url = https://github.com/HyperPotatoNeo/tba-prime.git
	branch = kv-eviction
